@import url("https://fonts.googleapis.com/icon?family=Material+Icons|Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

@import "./reset.css";
@import "./variables.css";

/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-components.css";

/* Screens */
@import "./screens/login.css";
@import "./screens/friends.css";

body {
  /* Google Fonts 참고 */
  font-family: "Roboto", sans-serif;
  padding-top: 94px;
  color: #2e363e;
}
